:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-hover: #ea7600;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --black: #000;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --light-blue: #007dc1;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.woff2") format("woff2"),
    url("../fonts/Neucha-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;

  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

main {
  flex: 1 1 auto;
}

h2 {
  font-family: Neucha, Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  color: var(--basic);
  font-size: 60px;
  font-weight: 400;
}

/* general sryles */

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-ib {
  display: inline-block;
}

.text-orange {
  color: orange;
}

.color-d {
  color: var(--dark);
}

.color-w {
  color: var(--white);
}

.fs-16 {
  font-size: 16px;
}

.title {
  font-family: Neucha, Arial, Helvetica, sans-serif;
  line-height: 1.2em;
}

.title-main {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-bottom: 183px;
  font-weight: 400;
  font-size: 72px;
}

.title-second {
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}

.title-third {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}

.subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.subtitle-dark {
  color: var(--transparent-dark);
}

.subtitle-white {
  color: var(--transparent-white);
}

.title-small-bg {
  padding: 0 10px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-small-bg-brown {
  background-color: var(--brown);
  color: var(--white);
}

.title-small-bg-white {
  background-color: var(--white);
  color: var(--brown);
}

.text-desc {
  line-height: 1;
}

.background {
  position: relative;
  overflow: hidden;
}

.background::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  opacity: 0.1;
}

.background-brown {
  position: relative;
  z-index: -1;
  background-color: var(--brown);
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  width: 148px;
  text-align: center;
  padding: 12px 24px;
  color: var(--light);
  background-color: var(--basic);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--basic-hover);
}

.img {
  width: 100%;
  max-width: 578px;
  max-height: 434px;
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.img-right {
  order: 1;
}

.grid {
  display: grid;
  column-gap: 30px;
}

.column-img-left {
  grid-template-columns: 578px 1fr;
}

.column-img-right {
  grid-template-columns: 1fr 578px;
}

.column2-1fr > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.ta-center {
  text-align: center;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.m-0 {
  margin: 0;
}
/* header */

.header {
  position: relative;
  width: 100%;
  height: auto;
}

.header-background {
  padding-bottom: 105px;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -105px;
  height: 525px;
}

.header-wrapper-text {
  grid-template-columns: repeat(2, 540px);
}

.header-text {
  line-height: 25px;
}
/* desctiption */

.descripion {
  padding-top: 100px;
  position: relative;
  padding-bottom: 507px;
}

.descripion-title {
  line-height: 74px;
  margin-bottom: 24px;
}

.descripion-subtext {
  margin: 0;
  font-size: 16px;
}

.iframe-wrapper {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.descripion-video {
  position: absolute;
  top: 35px;
  left: 96px;
  border: none;
  width: 100%;
  max-width: 919px;
}

/* navigation */

.navigation {
  padding-top: 200px;
  background-color: var(--basic-dark);
}

.navigation-title {
  margin: 0;
  font-size: 52px;
  font-weight: 400;
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 20px 30px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navigation-link {
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.navigation-item {
  max-height: 348px;
}

.navigation-item:not(:nth-child(1)) {
  background-color: var(--light);
}

.navigation-item:not(:nth-child(1)):hover {
  background-color: var(--basic);
}

.navigation-subtitle {
  display: inline-block;
  margin-bottom: 40px;
  line-height: 1;
  font-size: 64px;
  color: var(--basic-dark);
}

.navigation-link:hover .navigation-subtitle {
  color: var(--light);
}

.navigation-link .title-third {
  margin: 0;
  margin-bottom: 14px;
}

.navigation-text {
  margin: 0;
  color: var(--dark);
}

.navigation-link:hover p {
  color: var(--light);
}

.navigation-link:hover .title-third {
  color: var(--light);
}

/* footer */

.footer-subscribe {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
  padding: 40px 55px;
  background-color: var(--basic-dark);
}

.footer-subscribe div:nth-child(1) {
  align-self: center;
}

.form-wrapper {
  padding-left: 13px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  font-size: 18px;
}

.form-input {
  box-sizing: border-box;
  display: block;
  padding: 15px;
  height: 50px;
}

.form-subtext {
  font-size: 11px;
}

.form-subtext a {
  color: inherit;
}

.form-btn {
  position: absolute;
  top: 41%;
  right: 0;
  background-color: var(--basic);
  width: 61px;
  height: 50px;
  border: none;
}

.form-btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 25%;
  right: 33%;
  width: 24px;
  height: 24px;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.form-btn:hover {
  background-color: var(--basic-hover);
}

.footer-info {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  align-items: center;
  color: var(--black);
  font-size: 14px;
}

.footer-link {
  color: var(--light-blue);
}
